#components-dropdown-demo-placement .ant-btn {
    margin-right: 50px;
    margin-bottom: 50px;
}
.custom-filter-dropdown {
    padding: 4px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 110px;
}

.highlight {
    color: #f50;
}